/*
Debes crear todo el código CSS en una hoja de estilos externa - CHECK
El código CSS debe contener al menos 3 selectores que hagan referencia a clases - FALTA 1 SELECTOR Y 1 CLASE
El código CSS debe contener al menos 2 selectores que hagan referencia a elementos de la página a través de su id - CHECK
La página debe contener al menos una imagen - CHECK
*/

body {
  background-color: rgb(245,245,220);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: rgba(255, 255, 255, 0.925);
  text-align: center;
  background-color: rgb(71, 53, 4);
  width:auto;
  height: 42px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  
}

h2{
  color: rgba(255, 255, 255, 0.925);
  background-color: rgb(71, 53, 4);
  text-align: center;
  width: 370px;
  height: auto;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.contenedor {
  display: flex;
}

.imagen {
  /* display: block; */
  margin-right: 25px;
  float:left;
  /* clear: left; */
  border-radius: 15px;
  border: 2px solid rgb(56, 38, 22);
}

#imagen2 {
  float: left;
  margin-right: 12px;
  width: 35%;
}

p#primero {
  background-color: rgba(236, 221, 173, 0.568);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display:grid;
  width: 400px;

}



a {
  color: rgb(80, 66, 6);
}

/* 
  https://www.w3schools.com/css/
  
  https://www.freecodecamp.org/espanol/news/hojas-de-estilo-css-externas-como-vincular-css-a-html-e-importar-a-head/
  
  https://www.crehana.com/blog/transformacion-digital/cambiar-fuente-html/
  */