body {
  background-color: rgb(245, 245, 220);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: rgba(255, 255, 255, 0.925);
  text-align: center;
  background-color: rgb(71, 53, 4);
  width: auto;
  height: 42px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* el border radius se encarga de redondear los bordes, en este caso, del background color del h1 */
}

h2 {
  color: rgba(255, 255, 255, 0.925);
  background-color: rgb(71, 53, 4);
  text-align: center;
  width: 370px;
  height: auto;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.contenedor {
  display: flex;
  /* el display: flex ayuda a colocar las cajas como si fueran celdas de tablas, con un comportamiento predecible y adaptable */
}

.imagen {
  /* El display inline establece que un elemento ocupará el espacio del contenido del mismo y el siguiente elemento se situará a la derecha. Para estos elementos, no se puede agregar medidas de anchura (width) y altura (height) */
  display: inline;
  margin-right: 25px;
  /* float ubica un elemento al lado izquierdo o derecho de su contenedor, permitiendo a los elementos de texto y en línea aparecer a su costado */
  float: left;
  border-radius: 15px;
  border: 2px solid rgb(56, 38, 22);
}

.listaConocimiento {
  margin-left: 5%;
}

.espaciadoLetras {
  word-spacing: 5px;
}

.parrafoMargen2 {
  margin-top: 2.5%;
}

.parrafoMargen4 {
  margin-top: 2.5%;
}

.parrafoMargen5 {
  margin-bottom: 1.5%;
}

#imagen2 {
  float: left;
  margin-right: 12px;
  width: 35%;
  margin-bottom: 1%;
}

#imagen3 {
  float: left;
  margin-right: 12px;
  width: 27%;
}

#imagen4 {
  margin-bottom: 2%;
}

.margendelboton {
  float: left;
  margin-top: 7%;
  margin-left: 45%;
}

p#primero {
  background-color: rgba(236, 221, 173, 0.568);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: grid;
  width: 400px;
}



a {
  color: rgb(80, 66, 6);
}

.linkpaginaprincipal:hover {
  /* :hover es una pseudo-clase que permite establecer un segundo estado a cualquier elemento. Cuando un usuario interactúa con este elemento, por ejemplo, al pasar el cursor encima se puede observar un cambio*/
  background-color: rgb(23, 23, 25);
  transition: background-color 0.3s ease;
  /* la transition es la duración de la animación */
}

.linkpaginaprincipal:active {
  /* representa un elemento (como un botón) que el usuario está activando */
  background-color: rgb(0, 0, 0);
  color: white;
}

.linkpaginaprincipal {
  padding: 4px;
  background-color: rgb(0, 0, 0);
  border-radius: 4px;
  /* text-decoration le quita el subrayado al link */
  text-decoration: none;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  width: 20%;
}

.botonalineado .linkpaginaprincipal {
  margin-left: 78%;
}